<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICryptMe" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed"
                    useDefaultWebProxy="true" messageEncoding="Mtom">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICryptMe" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6778/CryptMeHttp" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICryptMe" contract="CryptMe.ICryptMe"
                name="BasicHttpBinding_ICryptMe" />
            <endpoint address="net.tcp://localhost:8080/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICryptMe" contract="CryptMe.ICryptMe"
                name="NetTcpBinding_ICryptMe">
                <identity>
                    <userPrincipalName value="DESKTOP-GJOQB72\Flo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>