<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <system.serviceModel>
    <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_Upload" 
                 maxReceivedMessageSize="2147483647" 
                 transferMode="Streamed" 
                 messageEncoding="Mtom"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647">
                 <readerQuotas maxArrayLength="2147483647" 
                                maxBytesPerRead="2147483647" 
                                maxDepth="2147483647" 
                                maxNameTableCharCount="2147483647" 
                                maxStringContentLength="2147483647"/>
                </binding>
            </basicHttpBinding>
        </bindings>
    <services>
      <service name="CryptMe_Service.CryptMe" behaviorConfiguration="CryptBehaivor">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/CryptMe" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:6778/CryptMeHttp" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Upload" contract="CryptMe_Service.ICryptMe">
        
        </endpoint>
        <endpoint address="net.tcp://localhost:8080/tcp" binding="netTcpBinding"
                bindingConfiguration="" contract="CryptMe_Service.ICryptMe" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CryptBehaivor">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://localhost:6779/CryptMe"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>